# set url for the scoped package
@4irelabs:registry=https://gitlab.4irelabs.com/api/v4/projects/191/packages/npm/

# Add auth token for the Gitlab scoped package
//gitlab.4irelabs.com/api/v4/projects/191/packages/npm/:_authToken=${GITLAB_TOKEN}
